[features]
seeds = true
skip-lint = false

[programs.localnet]
#two_pool = "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"
two_pool = "8VNVtWUae4qMe535i4yL1gD3VTo8JhcfFEygaozBq8aM"
propeller = "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"

[programs.devnet]
two_pool = "8VNVtWUae4qMe535i4yL1gD3VTo8JhcfFEygaozBq8aM"
propeller = "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "src/__tests__/test_wallet.json"

[scripts]
#test = "yarn run ts-mocha -p src/__tests__/tsconfig.json -t 1000000 sdk/tests/**/pool.test.ts"
test = "./scripts/run_anchor_test.sh"
#test = "yarn run jest --verbose --detectOpenHandles --testPathPattern engine.test.ts"
#test = "yarn run jest -c jest.config.js --verbose --detectOpenHandles --forceExit test/twoPool/pool.test.ts"
#initialize_pool = "./sdk/scripts/initialize_pool.sh"
#initialize_pool = "yarn run build-pool && yarn run ts-node sdk/scripts/initializePool.ts"
#initialize_pool_devnet = "yarn run build:anchor-devnet && yarn run ts-node sdk/scripts/initializePool.ts"
initialize_pool = "yarn run ts-node scripts/initializePool.ts"
scratch = "yarn run ts-node src/__tests__/scratch.ts"
initialize_propeller = "yarn run ts-node scripts/initializePropeller.ts"

[test]
startup_wait = 100000

[test.validator]
url="https://api.devnet.solana.com"

# load mpl-token-metadata program from devnet
[[test.validator.clone]]
address="metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"

## pool & wormhole
#[[test.genesis]]
#address = "SWimmSE5hgWsEruwPBLBVAFi3KyVfe8URU2pb4w7GZs"
#program = "src/__tests__/propeller/two_pool/two_pool_pool_pda.so"

# both the icco & wh_v2.7.1 binries pass the tests

## the addresses are the WH devnet (localnet) addresses
[[test.genesis]]
address = "Bridge1p5gheXUvJ6jGWGeCsgPKgnE3YgdGKRVCMY9o"
program = "src/__tests__/propeller/wh_payload3/programs/bridge.so"

[[test.genesis]]
address = "B6RHG3mfcckmrYN1UhmJzyS1XX3fZKbkeUcpJe9Sy3FE"
program = "src/__tests__/propeller/wh_payload3/programs/token_bridge.so"

[[test.validator.account]]
address = "FKoMTctsC7vJbEqyRiiPskPnuQx2tX1kurmvWByq5uZP"
filename = "src/__tests__/propeller/wh_payload3/accounts/bridge_config.json"

[[test.validator.account]]
address = "6MxkvoEwgB9EqQRLNhvYaPGhfcLtBtpBqdQugr3AZUgD"
filename = "src/__tests__/propeller/wh_payload3/accounts/guardian_set.json"

[[test.validator.account]]
address = "GXBsgBD3LDn3vkRZF6TfY5RqgajVZ4W5bMAdiAaaUARs"
filename = "src/__tests__/propeller/wh_payload3/accounts/fee_collector.json"


[[test.validator.account]]
address = "3GwVs8GSLdo4RUsoXTkGQhojauQ1sXcDNjm7LSDicw19"
filename = "src/__tests__/propeller/wh_payload3/accounts/token_config.json"


## copied from xdapp-book repo `projects/wormhole-local-validator/solana-accounts`

# localnet eth endpoint pda
[[test.validator.account]]
address = "7UqWgfVW1TrjrqauMfDoNMcw8kEStSsQXWNoT2BbhDS5"
filename = "src/__tests__/propeller/wh_payload3/accounts/eth_endpoint.json"

# localnet bsc endpoint pda
[[test.validator.account]]
address = "BmRvjCA2cQ1qUNAMVAnPgmjATSBPa2pxE3Q7bRoSGFED"
filename = "src/__tests__/propeller/wh_payload3/accounts/bsc_endpoint.json"

[[test.validator.clone]]
address="GvDMxPzN1sCj7L26YDK2HnMRXEQmQ2aemov8YBtPS7vR" # sbv2 SOL/USD Feed
[[test.validator.clone]]
address="2TfB33aLaneQb5TNVwyDz3jSZXS6jdW2ARw1Dgf84XCG" # programId` \
[[test.validator.clone]]
address="J4CArpsbrZqu1axqQ4AnrqREs3jwoyA1M5LMiQQmAzB9" # programDataAddress` \
[[test.validator.clone]]
address="CKwZcshn4XDvhaWVH9EXnk3iu19t6t5xP2Sy2pD6TRDp" # idlAddress` \
