@import "../eui";

.protocolWalletOptionsList {
  min-width: 180px;
  align-items: flex-start;

  .plainConnectButton {
    white-space: nowrap;
  }

  .plainConnectButton--connected {
    border: 1.5px solid $euiColorSuccess;
  }

  &__ecosystems {
    & > li {
      margin-bottom: 15px;

      img {
        margin-right: 15px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
