@import "react-responsive-carousel/lib/styles/carousel.min.css";

.arrow {
  position: absolute;
  top: calc(50% - 15px);
  width: 30;
  height: 30;
  cursor: pointer;
  order: 1;
  z-index: 1;
}

.slider-wrapper {
  z-index: -1;
}
