@import "../eui";

.swapForm__flipIcon svg {
  transform: rotate(90deg);
}

@include euiBreakpoint("xs", "s") {
  .euiFormRow--hasEmptyLabelSpace {
    margin-top: 0px;
  }

  /* For some reason the flex layout stretches further to the right
  the more flex items there are. This fixes it.  */
  .swapForm .euiFlexGroup {
    flex-direction: column;
  }
}
