@import "../eui";

.swapForm__flipIcon svg {
  transform: rotate(90deg);
}

@include euiBreakpoint("xs", "s") {
  .euiFormRow--hasEmptyLabelSpace {
    margin-top: 0px;
  }

  /* For some reason the flex layout stretches further to the right
  the more flex items there are. This fixes it.  */
  .swapForm .euiFlexGroup {
    flex-direction: column;
  }
}

//REVIEWER: Hover effect is not perfect because of padding, but I think it's good enough for the time spent
.bootleg-super-select {
  background-color: #fbfcfd;
  border: 1px solid #DDD;
  padding: 5px;
  border-radius: 5px;
  :hover {
    transition: background-color 0.1s;
    background-color: rgb(202, 223, 238);
  }
}
