@import "../../eui";

/* The form fields do not stretch enough to fill the page on wider mobile resolutions */
@include euiBreakpoint("xs", "s") {
  .swapPage .euiPageContent {
    max-width: 400px;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .euiPopover {
    margin-left: 5px;
  }
}
