name: "Verify evm build"
on:
  pull_request:
    paths:
      - "packages/evm/**"
      - ".github/workflows/evm-verify.yaml"
      - ".github/workflows/verify.yaml"
      - "yarn.lock"
  push:
    branches:
      - master

jobs:
  verify:
    uses: ./.github/workflows/verify.yaml
    with:
      workingDirectory: ./packages/evm
      buildDependenciesForPackage: "@swim-io/evm"
      skipTest: true
      buildPreCommand: "MNEMONIC='test test test test test test test test test test test junk' ETHERSCAN_API_KEY=XRJNAJSHABY3I6GUJYGHIVTSGCQ2S2Y75J"
